@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-poppins;
        @apply m-0 box-border p-0;
        @apply grid grid-cols-12;
    }

    #root {
        @apply flex flex-col;
        @apply min-h-screen;
        @apply col-span-12 col-start-1 2xl:col-span-10 2xl:col-start-2;
    }

    img {
        @apply w-full;
    }

    @keyframes appear-from-left-top {
        0% {
            transform: translate(-100%, -100%);
            opacity: 0;
        }
        100% {
            transform: translate(0, 0);
            opacity: 1;
        }
    }
}

@layer utilities {
    .active-image {
        @apply opacity-60;
    }
}
