@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-poppins;
        @apply m-0 box-border p-0;
        @apply grid grid-cols-12;
    }

    #root {
        @apply flex flex-col;
        @apply min-h-screen;
        @apply col-span-12 col-start-1 2xl:col-span-10 2xl:col-start-2;
    }

    img {
        @apply w-full;
    }

    /* @keyframes appear-from-left-top {
        0% {
            transform: translate(-100%, -100%);
            opacity: 0;
        }
        100% {
            transform: translate(0, 0);
            opacity: 1;
        }
    } */

    @keyframes appear-from-left {
        from {
            opacity: 0;
            transform: translateX(-100%);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes fade-in {
        from {
            opacity: 0;
            transform: translateY(20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    /* @keyframes shake-me {
        20%,
        40%,
        60%,
        80% {
            transform: translateX(1%);
        }
        10%,
        30%,
        50%,
        70%,
        90% {
            transform: translateX(-1%);
        }
        from,
        to {
            transform: none;
        }
    } */
    @keyframes shake {
        20%,
        40%,
        60%,
        80% {
            transform: translateX(1%);
        }
        10%,
        30%,
        50%,
        70%,
        90% {
            transform: translateX(-1%);
        }
        from,
        to {
            transform: none;
        }
    }
}

@layer utilities {
    .active-image {
        @apply opacity-60;
    }
}
